@import "tailwindcss";
@font-face {
  font-family: "Gopher";
  src: url("/fonts/gopher/Gopher-Regular.woff2") format("woff2"),
       url("/fonts/gopher/Gopher-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #fbf7f2;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
body {
  background: #fbf7f2;
  color: #2f3b1f;
}

